
html
head
  link(href='/stylesheets/style.css',rel='stylesheet')
body
if title
  h1= title 
  p UrlName: #{urlname}  
  p SR: #{sr}
  ul
  each val, key in sr
    li= key + ': ' + val
  p Summary: #{summary} 
  p Status: #{ps} 
  p Details: !{details}

else
  p No records found
a(href="/search.html") Search again