extends layout
block content

  table#articles 
    thead
      tr
        th Article Number 
        th Type
        th Title 
        th.summary Summary
        th.snippet Snippet
        th Status
        th View
    tbody    
      each article in sr
        tr
          td #{article.ArticleNumber}
          td #{article.Type}
          td #{article.Title}
          td #{article.Summary}
          td !{article.Snippet}
          td #{article.PublishStatus}
          td 
            a(href="/kb/article/#{article.Id}") View Article
   
  
  br
  br
  a(href="/kbsearch") Search again