extends layout
block content

  if title  
    table#articles 
      tr
        th.key Article No.
          td #{articlenumber}
      tr
        th.key Title
          td #{title}
      tr
        th.key Type
          td #{recordtypename}
      tr
        th.key UrlName
          td #{urlname}
      tr
        th.key Summary
          td #{summary}
      tr
        th.key Version
          td #{version}
      tr
        th.key First Published
          td #{published}
      tr
        th.key Status
          td #{ps} 


    p !{details}

  else
    p No records found
  a(href="/search.html") Search again